a.link-btn {
  padding: 5px 15px;
  font-size: var(--font-size-medium);
  transition: box-shadow 0.3s ease-in-out;
  color: var(--wash-me);
  background-color: var(--black-out);

  > svg {
    vertical-align: middle;
  }
}
