button:active, button:focus {
  outline: none;
}

button.btn-block {
  width: 100%;
}

button.btn {
  padding: 5px 15px;
  font-size: var(--font-size-medium);
  transition: box-shadow 0.3s ease-in-out;

  > svg {
    vertical-align: middle;
  }

  &:hover:not(:disabled):not(.btn-link) {
    box-shadow: var(--elevation-low);
    cursor: pointer;
  }

  &:disabled {
    color: var(--cerebral-grey);
    cursor: not-allowed;
  }
}

button.btn.btn-link {
  border: 0;
  color: var(--black-out);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $organza-violet;
  }
}

button.btn.btn-primary {
  color: var(--wash-me);
  background-color: var(--black-out);
}
