// colors

$black-out: #202225;
$cerebral-grey: #CCC;
$cruel-ruby: #DC3545;
$sky-of-magritte: #009AFF;
$wash-me: #FCFAFF;

// font sizes

$font-size-medium: 16px;

// elevations

$elevation-low: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
